body {
  background: #024;
  overflow: hidden;
}

* {
  border: 0;
  margin: 0;
  font-family: monospace;
  font-size: 18px;
  color: #400;
}

#TIP,
#INFO {
  position: absolute;
  top: -10px;
  max-width: 340px;
  height: 100vh;
  pointer-events: none;
  user-select: none;
  
}

#TIP {
  pointer-events: none;
}

.pnl {
  background: #fffa;
  padding: 10px 2px;
  margin: 5px;
  border: #4004 solid;
  border-width: 2px 4px;
  min-width: 330px;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: all;
  text-align: center;
}

.ptl {
  margin-bottom: -24px;
  font-size: 80%;
  text-align: right;
  padding: 0 10px;
}

#TIP {
  right: 0;
}

#INFO {
  left: 0;
}

#BTN {
  position: fixed;
  bottom: 5px;
  right: 5px;
  text-align: right;
  pointer-events: none;
}

#BTN button {
  padding: 5px;
  margin: 3px;
}


button#Next {
  padding: 10px;
}

button {
  border: 1px solid #aaa;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  pointer-events: all;
  background: #fffa;
}

button:hover,
button.h {
  background: #fff;
}

button:active{
  box-shadow: 0 0 10px #fff;
  transform: scale(1.2);
}


.icon img {
  margin: 0 0 0 3px;
  transform: scale(1.5) translateY(1px);
  filter: drop-shadow(1px 1px);
  pointer-events: all;
}

.good:hover .ttx,
.icon:hover .ttx {
  visibility: visible;
  white-space: nowrap;
}

.ttx {
  visibility: hidden;
  position: absolute;
  transform: translateY(-30px);
  z-index: 1;
  padding: 5px;
  background: #fffa;
  pointer-events: none;
}



.good,
button {
}

.abtn {
  text-align: center;
}

.abtn button{
  padding-bottom: 5px;
}


.tc {
  columns: 2;
  column-gap: 0;
}

table {
  margin: auto;
}

td {
  text-align: center;
}


#MID {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#X {
  position: absolute;
  right: 0;
  top: 0;
}

button *[data-icon] canvas {
  padding: 5px;
  pointer-events: none;
}

#INFO.u>*:first-child {
  background: #faaa;
}

#INFO.h>*:first-child {
  background: #afaa;
}

h4 {
  cursor: pointer;
  margin-bottom: 5px;
}

h1 {
  font-family: Georgia;
  text-align: center;
  font-size: 70px;
  padding-bottom: 30px;
}

h1 .icon:first-child img{
  transform: scale(-1.5, 1.5);
  filter: invert(м);
}

input {
  width: 70px;
}