body {
  background: #024;
  overflow: hidden;
}

* {
  border: 0;
  margin: 0;
  font-family: Georgia;
}

#TIP {
  position: fixed;
  background: #fff8;
  border: 3px solid #4444;
  padding: 5px;
  top: 10px;
  left: 10px;
}

#BTN {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100vw;
  text-align: right;

}

#TURN {
  padding: 10px;
}

button {
  padding: 5px;
  border: 3px solid;
  font-size: 200%;
}

button:hover {
  border-color: #fff;
}

td {
  text-align: right;
  min-width: 20px;
}

*[data-icon] canvas {
  image-rendering: pixelated;
  margin: 0 4px 0 8px;
}