body {
  background: #012;
  overflow: hidden;
}

* {
  border: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  --side-menu-width: 400px;
}

#MAIN {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  pointer-events: none;
}

#INFO {
  max-width: var(--side-menu-width);
  background: #0848;
  max-height: 100vh;
  border-left: #4004 solid;
  color:#fff;
}

#INFO pnl {
  min-width: var(--side-menu-width);
}


#INFO {
  height: 100%;
  pointer-events: none;
  user-select: none;
}

#TIP {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  color: #fff;
}

.pnl {
  /*background: #fffa;
  border: #4004 solid;*/
  padding: 10px 2px;
  margin: 5px;
  border-width: 2px 4px;
  max-height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  pointer-events: all;
  text-align: center;
}

/** Tab select buttons */
.ptl {
  font-size: 80%;
  padding: 0 10px;
}

#TIP {
  left: 0;
}

#INFO {
  right: 0;
}

/** Main buttons */
#BTN {
  position: fixed;
  bottom: 5px;
  right: calc(var(--side-menu-width) + 10px);
  text-align: right;
  pointer-events: none;
}

#BTN button {
  padding: 5px;
  margin: 3px;
}


button#Next {
  padding: 10px;
}

button {
  border: 1px solid #aaa;
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
  pointer-events: all;
  background: #fffa;
}

button:hover,
button.h {
  background: #bbb;
}

button:active {
  box-shadow: 0 0 10px #fff;
  transform: scale(1.2);
}


.icon .img canvas {
  position: relative;
  margin: 0 0 0 3px;
  transform: scale(1.5) translateY(1px);
  filter: drop-shadow(1px 1px #0008);
  pointer-events: all;
}

.good:hover .ttx,
.icon:hover .ttx {
  color: #400;
  visibility: visible;
  white-space: nowrap;
}

/** Tooltip */
.ttx {
  visibility: hidden;
  position: absolute;
  transform: translateY(-30px);
  z-index: 1;
  padding: 5px;
  background: #fffa;
  pointer-events: none;
}


/** Tab switching buttons */
.abtn {
  text-align: center;
  background: #fffa;
}

.abtn button {
  padding-bottom: 5px;
}


.CS {
  display: flex;
  flex-direction: row;
}

.tc {
  columns: 2;
  column-gap: 0;
}

table {
  margin: auto;
  color: #fff;
}

td {
  text-align: center;
}

#CHANGELOG {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 500px;
  color: #fff;
}

#MID {
  width: 100%;
  color: #fff;
  text-shadow: 1px 1px #000;
}

#X {
  position: absolute;
  right: 0;
  top: 0;
}

#INFO.u>*:first-child {
  background: #faaa;
}

#INFO.h>*:first-child {
  background: #afaa;
}

h4 {
  cursor: pointer;
  margin-bottom: 5px;
}

h1 {
  font-family: Georgia;
  text-align: center;
  font-size: 70px;
  padding-bottom: 30px;
}

input {
  width: 70px;
}

@keyframes grow-shrink {
  0% {
    scale: 90%;
  }

  100% {
    scale: 110%;
  }
}

.grow-shrink-animation {
  animation: .3s infinite alternate;
  animation-name: grow-shrink;
}